.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;

  width: 130px;
  height: 250px;
  padding: 0;
}

/*fix indicator ?*/
.item__indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: orange;
}

.item__indicator p {
  bottom: -9px;
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 17px;
}

.item__img {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 10px;
  margin: 0 auto;
}

.item__text {
  margin: 0 0 5px;
  font-size: 15px;
  width: 120px;
}
