.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 170px;
  height: 240px;
  padding: 15px;
}

/*fix indicator ?*/
.item__indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: orange;
}

.item__indicator p {
  bottom: -9px;
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 17px;
}

.item__img {
  background: var(--tg-theme-button-color);
  width: 100%;
  height: 120px;
  border-radius: 10px;
  margin: 0 auto;
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
}

.item__text {
  margin: 0 0 5px;
  font-size: 15px;
  width: 120px;
}

