.btn {
    display: inline-block;
    padding: 10px 45px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    transition: background .2s linear;
}

.btn:hover {
    background: lightgreen;
}

.btn__plus {
    display: inline-block;
    padding: 10px 45px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    transition: background .2s linear;
}

.btn__minus {
    margin-right: 5px;
    padding: 2px 20px;
    background: rgb(255, 69, 0);
    font-weight: 800;
    font-size: 30px;
}

.btn__plus {
    padding: 2px 20px;
    background: rgb(248, 168, 24);
    font-weight: 800;
    font-size: 30px;
}