.container {
  width: 100%;
}

.block {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.block h1 {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  margin-bottom: 25px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
